.advantages {
    padding: 70px 0 81px 0;
    min-height: 470px;
    background-color: #f6f6f6;
    &__icons {
        display: flex;
        margin-top: 65px;
        flex-direction: row;
        justify-content: space-between;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    span {
        display: block;
        margin-top: 38px;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }

    &__span {
        white-space: normal;
        display: inline;
        margin-top: 0;
        text-decoration: underline;
        color: #ff0000;
    }

    &__descr {
        margin: 0 auto;
        margin-top: 26px;
        font-size: 14px;
        font-weight: 300;
        width: 240px;
        text-align: center;
    }
    &__icon {
        &_animated {
            animation: heartbeat 1.5s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
}