.carousel {
    padding: 81px 0px;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;

    }
    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .next {
        left: auto;
        right: -66px;
    }
    .tns-item {

        img {
            margin: 0px auto;
            display: block;
        }
    }

    .tns-inner {
        overflow: hidden;
       
    }
    .tns-nav {
        display: block;
        margin: 0 40%;
        transform: translateX(50%);
        margin-bottom: 10px;
        button {
            background-color: white ;
            border-radius: 50%;
            height: 20px;
            margin-right: 5px;
            
        }
    button:active, 
        button:focus {
            outline: none;
        }
        .tns-nav-active {
            background-color: rgba($color: red, $alpha: .7);
        }
    }
    
}

