.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background-color: $main-color;
        padding: 50px 68px 60px 68px;
    }
    &__addr {
        margin-bottom: 36px;
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
        color: #ffffff;
        text-align: center;
    }
    &__phone {
        display: block;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        color: #ffffff;
        margin-bottom: 38px;
        text-align: center;
        &:hover {
            color: white;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50px;
        height: 50px;
        border: 2px solid #ffffff;
        border-radius: 50%;
        margin: 0px 15px;
        img {
            height: 27px;
        }
    }
    &__map {
        position:relative;
        height:0;
        iframe {
            left:   0;
            top:0;
            height: 630px;
            width:100%;
            border: 0;
            position:absolute;
        }
    }
}